.basicBtn{
	background-color: green;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
}

/* # 1. */

.BasicCss-btn{
	background-color: red;
	color: #fff;
	padding: 30px 70px;
	border: none;
	border-radius: 15px;
}

/* # 2. */

.Basic__title--red{
	color: red;
}


/* # 3. */

.BasicCss header{
	background-color: lightblue;
}

.BasicCss h1{
	color: wheat;
}